      :root {
        --default-slide-height: 700px;
        --top-img-height: 0.6;
        --side-img-width: 0.5;
      }

      .reveal img { max-height: calc(var(--slide-height) - (var(--r-block-margin) * 2)); }
      .reveal .scroll-page img { max-height: calc(var(--default-slide-height) - (var(--r-block-margin) * 2)); }
      .reveal img.top { max-height: calc(var(--slide-height) * var(--top-img-height)); }
      .reveal .scroll-page img.top { max-height: calc(var(--default-slide-height) * var(--top-img-height)); }
      .reveal img.side { max-width: calc(var(--slide-width) * var(--side-img-width)); }